:root {
    --primary-color: #1D5888;
    --secondary-color: #5E00AB;
    --dark-color: #292929;
    --white-color: #DFF3E4;
}

.theme-color {
    background-color: #5E00AB;
}

.action {
    background-color: var(--secondary-color);
}

.action:hover {
    background-color: #4B4B4B;
    border: 2px solid #1B1B1B;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.35);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

footer {
    padding-right: 1rem;
}

footer .social>a {
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover {
    opacity: 0.9;
    color: var(--dark-color);
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bsicon {
    color: purple;
}

.jsicon {
    color: rgb(226, 211, 4);
}

.html5icon {
    color: orangered;
}

.cssicon {
    color: rgb(11, 82, 214);
}

.checklist >li i{
    color: var(--dark-color);
}

code[class*="language-"], pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

#payment-title {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}

#payment {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #2B404F;
}

#total-cost {
    font-weight: bold;
}

#table-header {
    background-color: #2B404F;
}